{
	"irc": {
		"server":	"irc.freenode.net",
		"nick":		"BOT_NAME",
		"identUser":	"USER_NAME",
		"identPass":	"USER_PASS",
		"debug":	FALSE,
		"realName":	"paretzky's node.js irc bot",
		"channels":	["#CHANNELS"]
	},
	"sqlite": {
		"path":		"myirc2.sqlite",
		"verbose":	false
	},
	"pipePath":	"./irchelper.pipe",
	"plugins":	["logging","tell","youtube","regex"]
}
